<%- include("partials/header") %>
<div class="container-fluid new-container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 image-container">
            <h2 class="bolder"><a href="/places"><img class="img-fluid arrow-image" src="/images/arrow.svg" alt=""></a>  Add Place</h2>
            <img class="img-fluid" src="/images/travel-illustration.svg">
      </div>
      <div class="col-lg-5">
            <div class="container-fluid form-container">
                <form action="/places" method="POST">
                    <h4>Add Details about the place where you have visited.</h4>
                    <br>
                    <div class="form-group">
                        <label for="city" class="bolder">City</label>
                        <input type="text" class="form-control" id="city" name="name" placeholder="city" required>
                    </div>
                    <div class="form-group">
                        <label for="image" class="bolder">Photo URL</label>
                        <input type="text" class="form-control" id="image" name="image" placeholder="photo url" required>
                    </div>
                    <div class="form-group">
                        <label for="info" class="bolder">Few words about this place</label>
                        <textarea id="info" class="form-control" name="info" rows="3" required></textarea>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" onClick="displayDate()" name="isVisited" value="true">
                        <label class="form-check-label bolder" for="inlineCheckbox1">VISITED</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="isBucket" value="true">
                        <label class="form-check-label bolder" for="inlineCheckbox2">BUCKET-LIST</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-group" id="datediv">
                        <label for="date" class="bolder">When did you travel here?</label>
                        <input type="text" class="form-control" id="date" name="date" placeholder="date">
                    </div>  
                    <button type="submit" class="addButton">ADD PLACE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function displayDate() {

  var checkBox = document.getElementById("inlineCheckbox1");
  var date = document.getElementById("datediv");

  if (checkBox.checked == true){
    date.style.display = "block";
  } else {
    date.style.display = "none";
  }
}
</script>

<%- include("partials/footer") %>
